In [1]:
name = "Uday Sharma"
age = 20
location = 'west virginia'
print(f"my name is : {name} aged : {age} and stays at : {location}")

my name is : Uday Sharma aged : 20 and stays at : west virginia

In [2]:
def introduction(name,age,location):
    print(f"my name is : {name}, aged : {age}, and stays at : {location}")

In [3]:
type(introduction)

function

In [6]:
introduction()

In [10]:
introduction('Uday',20,'jammu')
introduction('python',34,'Delhi')
introduction('katapa',24,'canada')

my name is : Uday, aged : 20, and stays at : jammu
my name is : python, aged : 34, and stays at : Delhi
my name is : katapa, aged : 24, and stays at : canada

In [11]:
def iterate_over_loop(l):
    for i in l:
        print(f"my name : {i}")

In [12]:
iterate_over_loop([1,2,3,4,55,5,6,6,])

my name : 1
my name : 2
my name : 3
my name : 4
my name : 55
my name : 5
my name : 6
my name : 6

In [28]:
def sum_me(l):
    print(f"sum of list is: {sum(l)}")
    print(f"minimum length is: {min(l)}")
    print(f"length is : {max(l)}")

In [30]:
sum_me([1,2,3,4,5,56,7,])
sum_me([23,345,57,78])

sum of list is: 78
minimum length is: 1
length is : 56
sum of list is: 503
minimum length is: 23
length is : 345

In [32]:
def declare_var():
    a='Lets Upgrade'
    print(f"value of a  is: {a}")

In [33]:
declare_var()

value of a  is: Lets Upgrade

In [35]:
def sum_me(l):
    print(sum(l))

In [38]:
ans = sum_me([1,23,3,5,5776])

5808

In [40]:
print(ans)

None

In [42]:
def sum_me(l):
    return sum(l)

In [45]:
sum_me([1,2,23,3,546]) #also works with print but also without that

575

In [46]:
ans2=sum_me([1,23,3,354,566])

In [47]:
print(ans2*2)

1894

In [63]:
def introduction_without_return(name,age,location):
    print(name,age,location)
def introduction_with_return(name,age,location):
    return name,age,location

In [64]:
ans = introduction_without_return('No return',45,'Mumbai')
ans2=introduction_with_return('Yes',54,'Chennai')

No return 45 Mumbai

In [71]:
ans=introduction_without_return('No return !',34,"Mumbai")

No return ! 34 Mumbai

In [69]:
ans2

('Yes', 54, 'Chennai')

In [60]:
n,a,l=ans2

In [61]:
print(n)
print(a)
print(l)

Yes
54
Chennai

In [75]:
def add_2(a):
    return a+2

In [76]:
items=[1,2,35,46,6,75]

In [77]:
for each_item in items:
    print(f'original item was: {each_item}, added 2 to it : {add_2(each_item)}')

original item was: 1, added 2 to it : 3
original item was: 2, added 2 to it : 4
original item was: 35, added 2 to it : 37
original item was: 46, added 2 to it : 48
original item was: 6, added 2 to it : 8
original item was: 75, added 2 to it : 77

In [80]:
def introduce(name):
    return f"Greet : {name}"

In [81]:
print(introduce("Lets Upgrade"))

Greet : Lets Upgrade

In [17]:
a=0

In [18]:
while a<=12:
    print(a)
    a+=1

0
1
2
3
4
5
6
7
8
9
10
11
12

In [20]:
a=0
while a<=15:
    print(a)
    a+=2

0
2
4
6
8
10
12
14

In [1]:
b=15
while b>=0:
    print(b)
    b-=1

15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [2]:
b=15
while b>=0:
    print(b)
    b-=3

15
12
9
6
3
0