In [3]:
#User input
name = input()

Uday

In [4]:
name

'Uday'

In [6]:
name = input("Please enter your name ")

Please enter your name Uday Sharma

In [7]:
name

'Uday Sharma'

In [8]:
type(name)

str

In [9]:
age =input("Please Enter your age ")

Please Enter your age 20

In [10]:
age

'20'

In [11]:
type(age)

str

In [12]:
condition = input("")

True

In [13]:
condition

'True'

In [15]:
type(condition)

str

In [16]:
marks=input("Marks ")

Marks 90.12

In [19]:
marks

'90.12'

In [21]:
type(marks)

str

In [22]:
age = input("please enter your age ")

please enter your age 20

In [24]:
int(age)+2

22

In [25]:
type(age)

str

In [26]:
age = int(input('Please enter your age '))

Please enter your age 18

In [27]:
age+2

20

In [34]:
marks = int(input("Exact Marks "))

Exact Marks 24

In [31]:
marks=float(input('Exact marks '))
marks+2.5

Exact marks 45.56

48.06

In [32]:
marks

45.56

In [33]:
type(marks)

float

In [44]:
chr(12)

'\x0c'

In [48]:
6.6-4.3

2.3

In [52]:
round(6.6-4.3)

2

In [57]:
round(9.6-4.1,3)

5.5

In [2]:
totalInput=list()

In [60]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [3]:

    for i in range(6):
        totalInput.append(input("Please enter your fav. fruit: "))

Please enter your fav. fruit: mango
Please enter your fav. fruit: apple
Please enter your fav. fruit: banana
Please enter your fav. fruit: guava
Please enter your fav. fruit: cherry
Please enter your fav. fruit: litchi

In [4]:
totalInput

['mango', 'apple', 'banana', 'guava', 'cherry', 'litchi']

In [9]:
for each_fruit in totalInput:
    print(each_fruit)

mango
apple
banana
guava
cherry
litchi

In [6]:
for each_fruit in totalInput:
    print(each_fruit,totalInput.index(each_fruit))

mango 0
apple 1
banana 2
guava 3
cherry 4
litchi 5

In [11]:
for each_fruit in range(len(totalInput)):
    print(each_fruit,totalInput[each_fruit])

0 mango
1 apple
2 banana
3 guava
4 cherry
5 litchi

In [46]:
for index,item in enumerate(totalInput):
    print(index,item)

0 mango
1 apple
2 banana
3 guava
4 cherry
5 litchi

In [12]:
print(*totalInput)

mango apple banana guava cherry litchi

In [16]:
for i in totalInput:
    print(i,end = '--')

mango--apple--banana--guava--cherry--litchi--

In [35]:
for i in totalInput:
    if i.startswith('b'):
        print(f"this fruit starts with b: {i}")

this fruit starts with b: banana

In [36]:
for i in totalInput:
    if i.startswith('b'):
        print(f'this fruit starts with b : {i}')
    else :
        print(f"this fruit does not starts with b : {i}")

this fruit does not starts with b : mango
this fruit does not starts with b : apple
this fruit starts with b : banana
this fruit does not starts with b : guava
this fruit does not starts with b : cherry
this fruit does not starts with b : litchi

In [43]:
items = [2,3,45,56,'a','c','f',True,False,True,[56,67],{'name':'LU'},56.67]

In [45]:
for eachItem in enumerate(items):
    print(eachItem)

(0, 2)
(1, 3)
(2, 45)
(3, 56)
(4, 'a')
(5, 'c')
(6, 'f')
(7, True)
(8, False)
(9, True)
(10, [56, 67])
(11, {'name': 'LU'})
(12, 56.67)

In [47]:
for eachIndex,eachItem in enumerate(items):
    print(eachIndex,eachItem,type(eachItem))

0 2 <class 'int'>
1 3 <class 'int'>
2 45 <class 'int'>
3 56 <class 'int'>
4 a <class 'str'>
5 c <class 'str'>
6 f <class 'str'>
7 True <class 'bool'>
8 False <class 'bool'>
9 True <class 'bool'>
10 [56, 67] <class 'list'>
11 {'name': 'LU'} <class 'dict'>
12 56.67 <class 'float'>

In [49]:
for eachIndex,eachItem in enumerate(items):
    if type(eachItem)==int:
        print(f"this is a integer:{eachItem}")

this is a integer:2
this is a integer:3
this is a integer:45
this is a integer:56

In [53]:
for eachIndex,eachItem in enumerate(items):
    if type(eachItem)==float:
        print(f"this is a float:{eachItem}")

this is a float:56.67

In [52]:
for eachIndex,eachItem in enumerate(items):
    if type(eachItem)==str:
        print(f"this is a string:{eachItem}")

this is a string:a
this is a string:c
this is a string:f

In [54]:
for eachIndex,eachItem in enumerate(items):
    if type(eachItem)==list:
        print(f"this is a list:{eachItem}")

this is a list:[56, 67]

In [55]:
for eachIndex,eachItem in enumerate(items):
    if type(eachItem)==bool:
        print(f"this is a bool:{eachItem}")

this is a bool:True
this is a bool:False
this is a bool:True

In [56]:
for eachIndex,eachItem in enumerate(items):
    if type(eachItem)==dict:
        print(f"this is a dict:{eachItem}")

this is a dict:{'name': 'LU'}

In [60]:
for eachIndex,eachItem in enumerate(items):
    if type(eachItem)==int:
        print(f"this is integer: {eachItem}")
    elif type(eachItem)==str:
        print(f'this is str: {eachItem}')
    elif type(eachItem)==float:
        print(f'this is float: {eachItem}')
    elif type(eachItem)==bool:
        print(f'this is bool: {eachItem}')
    elif type(eachItem)==list:
        print(f'this is list: {eachItem}')
    elif type(eachItem)==dict:
        print(f'this is dict: {eachItem}')

this is integer: 2
this is integer: 3
this is integer: 45
this is integer: 56
this is str: a
this is str: c
this is str: f
this is bool: True
this is bool: False
this is bool: True
this is list: [56, 67]
this is dict: {'name': 'LU'}
this is float: 56.67

In [64]:
for eachIndex,eachItem in enumerate(items):
    if type(eachItem)==int:
        print(f"this is integer (and added 2): {eachItem+2}")
    elif type(eachItem)==str:
        print(f"this is str (added '!'): {eachItem+'!'}")
    elif type(eachItem)==float:
        print(f'this is float (added 0.5): {eachItem+0.5}')
    elif type(eachItem)==bool:
        print(f'this is bool: {eachItem}')
    elif type(eachItem)==list:
        print(f'this is list (sum of list): {sum(eachItem)}')
    elif type(eachItem)==dict:
        print(f'this is dict (all the items): {eachItem.items()}')

this is integer (and added 2): 4
this is integer (and added 2): 5
this is integer (and added 2): 47
this is integer (and added 2): 58
this is str (added '!'): a!
this is str (added '!'): c!
this is str (added '!'): f!
this is bool: True
this is bool: False
this is bool: True
this is list (sum of list): 123
this is dict (all the items): dict_items([('name', 'LU')])
this is float (added 0.5): 57.17

In [65]:
totalInput

['mango', 'apple', 'banana', 'guava', 'cherry', 'litchi']

In [71]:
print(*totalInput, '-->')

mango apple banana guava cherry litchi -->

In [72]:
for i in totalInput:
    print(i,end='--')

mango--apple--banana--guava--cherry--litchi--

# list comprehension

In [73]:
[f"this is :{i}" for i in totalInput]

['this is :mango',
 'this is :apple',
 'this is :banana',
 'this is :guava',
 'this is :cherry',
 'this is :litchi']

In [74]:
[f"this is :{i}" for i in totalInput if i.startswith('b')]

['this is :banana']

In [75]:
'--->'.join(totalInput)

'mango--->apple--->banana--->guava--->cherry--->litchi'

In [76]:
l=[
    [1,2,3],
    [4,5,6],
    [8,9,10]
]

In [77]:
l

[[1, 2, 3], [4, 5, 6], [8, 9, 10]]

In [82]:
sum(l[0])

6

In [83]:
sum(l[1])

15

In [84]:
sum(l[2])

27

In [87]:
[sum(i) for i in l]

[6, 15, 27]